{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="background-color: #e6f4ff; height: 84vh;">
    <figure class="text-center">
        {% load static %}
        <img src={% static "images/eagleridesharing.png" %} width="100" height="100" class="d-inline-block align-top" alt="Logo">
        <blockquote class="blockquote">
            <h1 class="display-2 display-md-3 display-lg-4" style="color: #333; font-weight: bold;">
                Eagle Ride Share
            </h1>
        </blockquote>
        <figcaption class="blockquote-footer mt-1" style="font-size: 1 rem;">
            A simple ridesharing app where users can post their rides..<br>Currently under construction...
        </figcaption>
    </figure>
</div>
{% endblock %}